USE [DB_IM_GSP]
GO
/****** Object:  Table [dbo].[M_COMMISSION]    Script Date: 10/19/2013 02:38:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_COMMISSION](
	[COMMISSION_ID] [nvarchar](50) NOT NULL,
	[EMPLOYEE_ID] [nvarchar](50) NULL,
	[COMMISSION_TYPE] [nvarchar](50) NULL,
	[COMMISSION_VALUE] [numeric](18, 5) NULL,
	[COMMISSION_STATUS] [nvarchar](50) NULL,
	[COMMISSION_DESC] [nvarchar](max) NULL,
	[DATA_STATUS] [nvarchar](50) NULL,
	[CREATED_BY] [nvarchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[MODIFIED_BY] [nvarchar](50) NULL,
	[MODIFIED_DATE] [datetime] NULL,
	[ROW_VERSION] [timestamp] NULL,
 CONSTRAINT [PK_M_COMMISSION] PRIMARY KEY CLUSTERED 
(
	[COMMISSION_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[M_COMMISSION]  WITH CHECK ADD  CONSTRAINT [FK_M_COMMISSION_M_EMPLOYEE] FOREIGN KEY([EMPLOYEE_ID])
REFERENCES [dbo].[M_EMPLOYEE] ([EMPLOYEE_ID])
GO
ALTER TABLE [dbo].[M_COMMISSION] CHECK CONSTRAINT [FK_M_COMMISSION_M_EMPLOYEE]
GO
